.button {
  padding: 16px 0;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  border-radius: 30px;
  letter-spacing: 1px;
  line-height: 1.3;
  display: block;
  text-align: center;
}
