.top__content {
  background: url(../../assets/images/homepage/bg-top-homepage.png) no-repeat
    right / cover;
  padding-top: 171px;
  padding-bottom: 61px;
}

.about {
  padding-top: 66px;

  .about__content {
    position: relative;
  }

  .about__title {
    position: absolute;
    top: 79px;
    left: 69px;
    color: var(--white);
  }

  .about__list {
    position: absolute;
    top: 42px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    left: calc(50% + 76px);
  }

  .about__item {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .about__icon {
    width: 33px;
    height: 33px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .about__text {
    max-width: 420px;
    color: var(--white);
  }

  .consultation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40%;
  }
}

.services {
  padding-top: 92px;

  .services__wrapper {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    margin-top: 41px;
  }

  .services__table-item {
    td {
      text-align: center;

      &:first-child {
        text-align: start;
        border-radius: 13px 0 0 13px;
      }

      &:last-child {
        border-radius: 0 13px 13px 0;
      }
    }
  }

  .services__complex-table {
    width: 100%;
    border-collapse: collapse;

    .services__table-item {
      td {
        padding: 22.5px 25px;

        &:first-child {
          font-weight: 700;
        }
      }

      &:nth-child(even) td {
        background-color: #fbf9f6;
      }

      &.factors td {
        padding: 16px;
      }
    }

    .services__price {
      padding-top: 30px;
    }

    th {
      width: 242px;
      padding-bottom: 11px;
      text-align: center;
    }
  }

  .services__table-top {
    width: 234px;
    font-weight: 800;
    line-height: 113.4%;
    padding: 19px 0;
    font-size: 22px;
    color: var(--white);
    border-radius: 18px;
    margin-left: 8px;

    &.basic {
      background-color: #d8e3f3;
      color: var(--primary-color);
    }

    &.standard {
      background-color: var(--blue-2);
    }

    &.advanced {
      background-color: var(--blue);
    }

    &.mobile {
      display: none;
    }
  }

  .services__price {
    color: #2e4396;
    font-size: 22px;
    font-weight: 800;
  }

  .services__tablet {
    width: 233px;
    height: 550px;
    border-radius: 18px;
    padding: 143px 16px 186px;
    color: var(--white);
    text-align: center;
    background: url(../../assets/images/homepage/tablet-bg.png) no-repeat center /
      cover;
  }

  .services__tablet-title {
    font-size: 33px;
    margin: 8px 0 18px;
  }

  .services__factors {
    text-align: center;
  }

  .services__factor {
    span {
      position: relative;
      &::before {
        content: "";
        width: 4px;
        height: 4px;
        display: block;
        position: absolute;
        border-radius: 50%;
        background-color: var(--primary-color);
        top: 10px;
        left: -12px;
      }
    }
    margin: 0 auto;
  }

  .services__additional {
    margin-top: 73px;
    max-width: 946px;
    margin: 73px auto 0;
  }

  .services__additional-table {
    margin-top: 44px;
    width: 100%;
    border-collapse: collapse;

    .services__price {
      font-size: 19px;
    }
    .services__table-item {
      &:nth-child(even) .services__price {
        padding: 33px 119px 33px 32px;
      }
      &:nth-child(odd) .services__price {
        padding: 24px 119px 24px 32px;
        background-color: #fbf9f6;
      }

      &:nth-child(odd) td {
        background-color: #fbf9f6;
      }

      td {
        padding-left: 32px;
      }
    }

    th {
      padding: 0 119px 13px 32px;
      text-align: center;
    }
  }

  .services__additional-text {
    max-width: 679px;
    margin: 51px auto 25px;
  }
}

.questions {
  padding-top: 74px;
  .questions__list {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin-top: 44px;
    overflow: hidden;
  }

  .questions__item {
    width: calc(20% - 11.5px);
    position: relative;
    min-height: 205px;

    &:nth-child(n + 5) {
      min-height: 169px;
    }
  }

  .questions__box {
    padding: 24px 12px;
    background-color: var(--gold);
    border-radius: 21px;
    transition: 0.6s all linear;
    overflow: hidden;
    height: 100%;

    &.active-bottom,
    &.active {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 100;

      .questions__text {
        height: auto;
        opacity: 1;
      }

      .questions__button svg {
        transform: rotate(180deg);
      }
    }

    &.active-bottom {
      bottom: 0;
    }

    &.bottom-neighbor {
      transform: translateY(calc(100% + 14px));
    }
    &.top-neighbor {
      transform: translateY(calc(-100% - 14px));
    }
  }

  .questions__img {
    margin-left: 12px;
  }

  .questions__button {
    width: 100%;
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    font-weight: 700;
    font-size: 18px;
    gap: 0 6px;
    svg {
      transition: 0.6s all linear;
    }
  }

  .questions__text {
    transition: 0.6s all linear;
    padding-top: 4px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    font-size: 14px;
  }
}

@media (max-width: 1296px) {
  .top__content {
    padding-top: 130px;
    padding-bottom: 40px;
  }

  .about {
    padding-top: 90px;

    .about__list,
    .consultation,
    .about__title {
      position: static;
    }

    .about__box {
      padding: 24px;
      border-radius: 24px;
      background: var(--blue-2);
    }

    .about__list {
      margin-top: 32px;
    }
    .about__item {
      gap: 12px;

      br {
        display: none;
      }
      &:first-child {
        align-items: flex-start;
      }
    }

    .about__text {
      max-width: 100%;
    }

    .consultation {
      margin-top: 19px;
    }

    .about__bg {
      display: none;
    }
  }

  .services {
    padding-top: 126px;

    .services__wrapper {
      display: grid;
      grid-template-columns: 100%;
      gap: 16px;
    }

    .services__table-top {
      width: 100%;
      margin-left: 0;
      font-size: 20px;
      justify-content: space-between;
      padding: 12px 10px;
      align-items: center;

      &.mobile {
        display: flex;
        svg {
          transition: 0.4s all linear;
        }
        &.active {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .services__tablet {
      width: 100%;
      height: 200px;
      padding: 38px;
      display: grid;
      grid-template-columns: 63.54px auto;
      gap: 0 18px;
      background: url(../../assets/images/homepage/tablet-bg-t.png) no-repeat
        right / 100% 100%;
      align-items: flex-start;
      justify-content: center;
      text-align: start;
    }

    .services__tablet-icon {
      grid-row: 1 / 3;
      width: 63.54px;
      height: 59px;
      align-self: center;
    }

    .services__tablet-title {
      margin: 0 0 8px;
      font-size: 28px;
      align-self: flex-end;
    }

    .services__tablet-text {
      max-width: 384px;
    }

    .services__complex-wrapper {
      max-height: 0px;
      overflow: hidden;
      transition: 0.4s all linear;

      &.show {
        max-height: 600px;
      }

      &.basic,
      &.standard,
      &.advanced {
        .services__basic-td {
          display: table-cell;
        }

        td:nth-child(n + 2) {
          border-radius: 0 13px 13px 0;
        }
      }
      &.basic {
        grid-row: 2 / 3;
      }

      &.standard {
        grid-row: 3 / 4;
      }

      &.advanced {
        grid-row: 4 / 5;
      }
    }

    .services__complex-table {
      padding-top: 4px;

      .services__table-item {
        &:nth-child(even) {
          td {
            padding: 8px 16px;
          }
        }

        td {
          padding: 20px 16px;
        }

        &.factors {
          td {
            padding: 24px 16px;
          }
        }
      }

      td:not(td:first-child),
      th {
        display: none;
      }

      .services__price {
        font-size: 20px;
        padding-top: 20px;
      }
    }

    .services__additional-table {
      font-size: 18px;
      th {
        padding: 20px 30px;
        text-align: end;
      }

      .services__price {
        text-align: end;
        text-wrap: nowrap;
      }

      .services__table-item {
        td {
          padding: 8px 200px 8px 16px;
        }

        &:nth-child(even) {
          .services__price {
            padding: 20px 16px 20px 10px;
          }
        }

        &:nth-child(odd) {
          .services__price {
            padding: 8px 16px 8px 10px;
          }
        }
      }
    }

    .services__additional-text {
      font-size: 18px;
      margin: 40px auto 16px;
    }
  }

  .questions {
    .questions__item {
      width: calc(50% - 14px);

      min-height: auto;

      &:nth-child(n + 5) {
        min-height: auto;
      }
    }

    .questions__box {
      padding: 16px;
      &.active-bottom,
      &.active {
        position: static;

        .questions__text {
          max-height: 300px;
        }
      }

      &.active-bottom {
        bottom: 0;
      }

      &.bottom-neighbor {
        transform: none;
      }
      &.top-neighbor {
        transform: none;
      }
    }

    .questions__text {
      max-height: 0;
      height: auto;
      overflow: hidden;
    }
  }
}

@media (max-width: 740px) {
  .top__content {
    padding-bottom: 32px;
  }

  .about {
    .consultation {
      margin-top: 40px;
    }
  }

  .services {
    padding-top: 90px;

    .services__wrapper {
      margin-top: 32px;
    }

    .services__tablet {
      padding: 20px;
      height: 180px;
      background: url(../../assets/images/homepage/tablet-bg-m.png) no-repeat
        right / 100% 100%;
      grid-template-columns: 41.12px auto;
    }

    .services__tablet-icon {
      width: 41.12px;
      height: 38.19px;
    }

    .services__additional-table {
      font-size: 16px;

      .services__table-item {
        td {
          padding-right: 32px;
        }
      }
    }
  }

  .questions {
    .questions__item {
      width: 100%;
    }

    .questions__box {
      display: grid;
      gap: 19px;
      padding: 12px;
      grid-template-columns: 66px auto;
      gap: 0 12px;
    }

    .questions__img {
      grid-row: 1 / 3;
    }

    .questions__button {
      margin-top: 0;
    }
    .questions__text {
      padding-top: 4px;
    }
  }
}
