html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Onest";
}

h1,
h3 {
  font-weight: 800;
  font-size: 35px;
  line-height: 113.4%;
}

h5 {
  line-height: 113.4%;
  font-weight: 700;
}

.container {
  max-width: 1296px;
  padding: 0 48px;
  margin: 0 auto;
}

.text-bold {
  font-size: 21px;
  font-weight: 700;
  line-height: 114.9%;
  text-align: center;
}

.title {
  text-align: center;
}

.tg-icon {
  transform: translate(-1px, 1px);
}

@media (max-width: 1290px) {
  h1,
  h3 {
    font-size: 32px;
  }
}

@media (max-width: 740px) {
  h1,
  h3 {
    font-size: 28px;
  }
  .container {
    padding: 0 16px;
  }

  .body-overflow {
    height: 100dvh;
    overflow: hidden;
  }
}
