html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Onest";
}

h1,
h3,
h4 {
  font-weight: 800;
}

h5 {
  font-weight: 700;
}

.container {
  max-width: 1296px;
  padding: 0 48px;
  margin: 0 auto;
}

@media (max-width: 740px) {
  .container {
    padding: 0 16px;
  }

  .body-overflow {
    height: 100dvh;
    overflow: hidden;
  }
}
