// Onest

@font-face {
  font-family: "Onest";
  src: url(../assets/fonts/Onest/Onest-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Onest";
  src: url(../assets/fonts/Onest/Onest-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Onest";
  src: url(../assets/fonts/Onest/Onest-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Onest";
  src: url(../assets/fonts/Onest/Onest-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

// Calibri

@font-face {
  font-family: "Calibri";
  src: url(../assets/fonts/Calibri/Calibri-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
